<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>testing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">testing</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <img src="assets/images/nfc-icon-20572.png" alt="Description of the image">
    <button class="custom-button" (click)="navigate()">Continue NFC Payment</button>
  </div>
</ion-content>
