<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <input type="text" placeholder="Enter Merchanthost" [(ngModel)]="merchanthost">
    <input type="text" placeholder="Enter OpType" [(ngModel)]="opType">
    <input type="text" placeholder="Enter Currency" [(ngModel)]="currency">
    <input type="number" placeholder="Enter Amount" [(ngModel)]="amount">
    <input type="text" placeholder="Enter OrderId" [(ngModel)]="orderId">
    <input type="text" placeholder="Enter Channel" [(ngModel)]="channel">
    <input type="text" placeholder="Enter Tid" [(ngModel)]="tid">
    <button class="custom-button" (click)="onButtonClick()">OK</button>
    <textarea rows="4" cols="50" [(ngModel)]="results_data">
  
    </textarea>
  </div>
</ion-content>
